.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: white;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
}
.login-box h3 {
  color: #8a2be2;
  text-align: center;
}

.login-box h6 {
  color: gray;
  text-align: center;
}

.form-group {
  margin-bottom: 6px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 6px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-label {
  color: black;
  font-size: small; 
}

button {
  
  padding: 10px;
  background-color: #8a2be2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

button:hover {
  background-color: #6a1cc2;
}
#signup{
  padding: 10px;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: white;
}
#signup:hover{
  background-color: #ebebeb;
}
